* {
    padding: 0;
    margin: 0;
}

/* .num-1 {
    font-family: Snell Roundhand, cursive;
    font-family: Snell Roundhand, cursive;
    display: flex;
    padding: 93px;
    font-size: 145px;
    justify-content: center;
    margin-top: 20px;
    font-weight: 900;
} */

.num-2 {
    font-family: Snell Roundhand, cursive;
    font-size: 60px;
    justify-content: center;
    display: flex;
    font-weight: 900;
    margin-top: 20px;
    padding: 93px;
}

.num {
    margin: -40px 19px;
    font-size: 110px;
}

.text {
    
}
